@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

*                                /*убрать отступы и поля у всех элементов на странице*/
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    min-width: 100%;            /*чтобы стр была видна вся*/
    overflow: hidden;           /*чтобы за границы ничего не вылезло*/
    display: flex;             /*сделает из него flex контейнер, чтобы футер всегда был внизу (при отсутствии контента) стили в content*/
    flex-direction: column;     /*элементы перевернет - футер внизу*/
}

.content
{
    flex: 1 1 auto;             /*позволяю flex эл увеличиваться и уменьшаться и базовый размер у него автоматический*/
}

.container                      /*Ограничить ширину контентной части - для фиксированной верстки*/ 
{
    max-width: 1680px;
    margin: 0 auto;             /*ограничить блочные элементы по центру*/
    padding: 0 15px;
}

.menu                                    /*          МЕНЮ        */
{
    display: flex;                       
    padding: 35px 110px 0;               /*отступы этого ряда посмотреть*/
    justify-content: space-between;        /*прижала к краям*/
}

.menu__body
{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.menu__list
{
    list-style: none;
    display: flex;                      /*список выстраивается в ряд*/
    flex-wrap: wrap;       /*при адаптивной верстке убрали жесткость меню (можно добавлять пункты)*/
}

.menu li
{
     margin: 0 75px 0 15px;
}

.menu__link
{                             
    font: 500 16px 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;    /*убирает подчеркивание текста ссылок*/
}

.menu__button
{
    margin-left: 22px;
    background-color: black; 
    color: white; 
    font: 500 16px 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 18px 44px;
    border-radius: 5px;
}

@media (max-width: 1280px)
{
.menu                                    
{                     
    padding: 35px 30px 0px;
}

}

@media (max-width: 1120px)
{
.menu
{
    flex-direction: column;
    align-items: center;
}
.menu__logo
{
    width: 203px;
    height: 55px;  
}
.menu__button
{
    font-size: 14px;
    padding: 10px 24px;
}
.menu__link
{
    font-size: 14px;
}
.menu li
{
    margin: 0 55px 0 15px;
}
} /*конец медиа меню*/
.top
{
    position: absolute;              /*чтобы картинка наложилась*/
    top: 91px;
}
.top__row                                  /*           TOP        */       
{
    display: flex;
    padding: 0 75px 0 250px ;               /*отступы этого ряда посмотреть 79 261*/
    justify-content: space-between;        /*прижала к краям*/
    align-items: center;   
}
.top__img
{
    padding-top: 90px; 
    margin-left: 10px; 
}
.top__title
{
    font: 600 100px 'Montserrat', sans-serif;
    margin: 17px 22px 22px 0;
}
.top__title span, h2 span
{
    color: #EE58B6;
}
.top__text
{
    font: 26px 'Roboto Condensed', sans-serif;
    margin-bottom: 63px;
}
.top__button 
{
    background-color: black; 
    color: white; 
    font: 500 16px 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 18px 85px;
    border-radius: 5px;
}
@media (max-width: 1902px)
{
.top__row
{
   padding: 0px 30px 0 110px;
}
}
@media (max-width: 1660px)
{
.top__title
{
    font-size: 80px;
}
.top__text
{
    font-size: 22px 
}
}
@media (max-width: 1366px)
{
.top__title
{
    font-size: 60px;
}
.top__text
{
    font-size: 20px 
}
.top__button
{
    font-size: 14px;
}
.top__img
{
    padding-top: 20px;
}
}
@media (max-width: 1170px)
{
.top__title
{
    font-size: 50px;
    margin-right: 50px;
}
.top__text
{
    font-size: 18px 
}
.top__button
{
    font-size: 14px;
}
.top__row
{
   padding: 0px 30px 0 80px;
}
}
@media (max-width: 1024px)
{
.top__row                                     
{
    position: relative;  
    margin-top: 90px; 
}
.top__img
{
    position: absolute;
    top: 1%;
    left: 80%;
} 
}
@media (max-width: 780px)
{
.top__img, .menu__button
{
    display: none;
}
.menu__body
{
    margin-top: 25px;
}
.menu li
{
    margin: 0 15px 0 15px;
}
}
@media (max-width: 526px)
{
.top__title
{
    font-size: 40px;
    margin: 55px  0px 15px 0px;
}
.top__text
{
    font-size: 16px 
}
.top__button
{
    font-size: 13px;
    padding: 18px 35px;
}
.top__row
{
   padding: 0px 30px 0 50px;
}
.menu__list
{
    flex-direction: column; 
}
.menu li {
    margin: 5px 25px 0 0px;
}
}   /*конец медиа top*/

.start
{   
    background-color: black;  
    margin-top: 775px;               /*чтобы картинка наложилась*/  
    position: relative; 
}
.start__row
{
    display: flex;
    padding: 0 220px;
    height: 398px;
    align-items: center;
    margin-bottom: 70px;
}
.start__body
{
    margin: 0px 56px 0px 55px; 
    max-height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;         /*чтобы картинка не увеличилась*/
    flex-direction: column;
    padding-bottom: 43px;
}
.start__text
{
    font: 22px 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px;
}
@media (max-width: 1720px)
{
.start
{   
    margin-top: 680px;
}
.start__row
{
    justify-content: space-between;
}
.start__text
{
    font-size: 18px;
}
.start__row
{
    padding: 0 130px;
}
}
@media (max-width: 1366px)
{
.start
{   
    margin-top: 520px;
}
.start__row
{
    padding: 0 70px;
    height: 250px;
}
.start__text
{
    font-size: 16px;
}
}
@media (max-width: 1170px)
{
.start
{   
    margin-top: 470px;
}  
.start__body
{
    padding: 5px 5px;
}
}
@media (max-width: 900px)
{
.start
{   
    margin-top: 400px;
}
.start__row
{
    padding: 0 10px;
}
.start__text
{
    font-size: 14px;
}
}
@media (max-width: 780px)
{
.start__row
{ 
  flex-wrap: wrap;
  justify-content: center;
}
.start__body
{
    padding: 25px 50px;
}
.start
{
    height: 520px;
} 
}
@media (max-width: 480px)
{
.start__body
{
    padding: 15px 20px;
    margin-top: 20px;
}
.start
{
    height: 585px;
} 
}       /**/
.title
{
    font: 500 48px 'Montserrat', sans-serif; 
}
.absence_title, .deadline_title
{
    margin: 110px 0 33px 0;
}
.absence_text, .deadline_text
{ 
    font: 18px 'Roboto Condensed', sans-serif;
}
.absence__row, .deadline__row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 385px 58px 354px;
}
.deadline__row
{
    padding: 8px 360px 75px 412px ;
}
.deadline__body
{
    margin: 19px 0px 140px 0px;
}
@media (max-width: 1902px)
{
.absence__row, .deadline__row
{
    padding: 0px 280px 60px ;
}
}
@media (max-width: 1366px)
{
.absence__row, .deadline__row
{
    padding: 0px 180px 80px ;
}
}
@media (max-width: 1090px)
{
.absence__row, .deadline__row
{
    padding: 0px 140px 80px ;
}
.absence_title, .deadline_title
{
    font-size: 40px;
}
}
@media (max-width: 858px)
{
.absence__row, .deadline__row
{
    flex-direction: column;
}
.deadline__row
{
    flex-direction: column-reverse;
}
.deadline__body
{
    margin: 19px 0px 40px 0px;
}
.absence_title
{
    margin: 100px 0 33px 0;
}
.deadline_title
{
    margin: 0px 0 33px 0;
}
.absence_photo, .deadline_photo
{
    display: none;
}
}  /**/
.can__title
{
    text-align: center;
    margin: 0 0 45px 0;
}
.can__row
{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px 101px 257px;
}
.can__blocks
{
    background-color: black;
    width: 320px;
    height: 190px;
    padding: 0px 0px 0px 39px;              /*верх право низ лево*/
    margin: 15px 15px;               /*отступы между блоками*/
    border-radius: 7px;
    display: flex;
    justify-content: center;        /*по середине блока*/
    align-items: flex-start;
    overflow: hidden;               /*чтобы картинка не увеличилась*/
    flex-direction: column;         /*внутр эл располог по вертикали*/
}
.can__text 
{
    color: white;
    font: 18px 'Roboto Condensed', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;   
}
@media (max-width: 1660px)
{
.can__row
{
    padding: 0px 60px 271px 187px;
}
}
@media (max-width: 1520px)
{
.can__row
{
    padding: 0px 70px 150px 105px;
}
}
@media (max-width: 1405px)
{
.can__row
{
    padding: 0px 100px 180px 260px;
}
.can__blocks
{
    margin: 7px 7px;
}
}
@media (max-width: 1300px)
{
.can__row
{
    padding: 0px 80px 150px 140px;
    justify-content: center;
}
}
@media (max-width: 1300px)
{
.can__row
{
    padding: 0px 80px 150px 100px;
}
}
@media (max-width: 625px)
{
.can__row
{
    padding: 0px 30px 100px 30px;
}
.can__blocks
{
    padding: 0px 5px 0px 30px;
}
}
@media (max-width: 460px)
{
.can__text 
{
    font-size: 15px;
}
.can__blocks
{
    padding: 0px 5px 0px 20px;
}
}
@media (max-width: 350px)
{
.can__text 
{
    font-size: 14px;
}
.can__blocks
{
    padding: 0px 5px 0px 10px;
}
}
.footer 
{
    background-color: black;
}

.footer__row
{
    display: flex;
    height: 108px;
    justify-content: center;
    align-items: center;
}




.text-form-title{
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 300;
    font-family: "Open Sans";
    position: relative;
    margin: 55px 30px;
  }
  
  .text-form-title::before,
  .text-form-title::after {
    content: ""; 
    position: inherit; 
    width: 200px;
    height: 1px;
    background-color: #7d8180;
    display:inline-flex;
    top: -10px;
    margin-inline-start: 25px;
    margin-inline-end: 25px;
  }
  
  form {
    /* Расположим форму по центру страницы */
    margin: 0 auto;
    width: 540px;
    /* Определим контур формы */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-bottom: 100px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Определим размер и выравнивание */
    display: inline-block;
    text-align: left;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
  }
  
  textarea, 
  select {
    /* Убедимся, что все поля имеют одинаковые настройки шрифта
       По умолчанию в textarea используется моноширинный шрифт */
    font: 1em sans-serif;
  
    /* Определим размер полей */
    width: 535px;
    height: 40px;
    box-sizing: border-box;
  
    /* Стилизуем границы полей */
    border: 1px solid #999;
  }
  

  
  textarea {
    /* Выравним многострочные текстовые поля с их текстами-подсказками */
    vertical-align: top;
  
    /* Предоставим пространство для ввода текста */
    height: 150px;
  }
  
  .btn {
    /* Выравним кнопки с их текстами-подсказками */
    /* same size as the label elements */
    margin-top: 1em;
    width: 220px;
    height: 45px;
    background-color: black;
    border-radius: 3px;
    border: none;
    color:aliceblue;
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
  }
  
  .area{
    width: 535px;
    height: 40px;
    box-sizing: border-box;
  }
  
  .star{
    color: red;
  }
  
  abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }
.activitys
{
    margin: 10px 0px;
}
  @media (max-width: 835px)
{
.text-form-title
{
    font-size: 30px;
}
}